 html {
    font-family: 'Roboto', sans-serif;
        background-image: url(img/green.jpg);
        background-repeat: no-repeat;
        height: 100%;
      }

      body {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 40px;
        background-color: white;
        min-height: 50%;
        max-width: 600px;
        min-width: 250px;
      }

        body:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          height: 20px;
          width: 100%;
          background: #e2512c;
          background: repeating-linear-gradient(
            -45deg,
            #e2512c,
            #e2512c 12px,
            transparent 10px,
            transparent 23px
          );
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          border-bottom: 0;
        }

        body:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            height: 20px;
            width: 100%;
            background: #e2512c;
            background: repeating-linear-gradient(
              -45deg,
              #e2512c,
              #e2512c 12px,
              transparent 10px,
              transparent 23px
            );
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-bottom: 0;
          }
        

      h1 {
          text-align: center;
          padding-top: 0px;
          margin-top: 20px;
          font-weight: bold;
          font-size: 34px;
      }

      p:first-of-type {
          text-align: center;
      }

      .formContainer {
          display: flex; 
          flex-direction: column;
          margin-bottom: 20px;
      }

      .form {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin-bottom: 10px;
          
      }

      .guessField{
          border: none;
          border-bottom: solid black 3px;
          margin-left: 15px;
          margin-right: 15px;
          width: 70px;
          height: 30px;
          font-size: 26px;
          font-weight: bold;
          text-align: center;
      }

      .guessField:focus {
          outline: none;
      }


      .guessSubmit {
          border: none;
          width: 150px;
          height: 50px;
          margin: auto;
          font-size: 16px;
          border-radius: 6px;
          font-weight: bold;
          margin-top: 15px;

      }

      .lastResult {
        color: white;
        padding: 3px;
      }

      .resultParas {
          display: flex; 
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
      }
      
      .resultParas p {
          margin-top: 0px;
      }

    